[Desktop Entry]
Encoding=UTF-8
Name=Meraki core
Comment=Meraki P2P Cryptocurrency
Comment[de]=Verbinde mit dem Meraki peer-to-peer Netzwerk
Comment[fr]=Meraki, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Meraki, eşten eşe kriptografik sanal para birimi
Exec=meraki-qt %u
Terminal=false
Type=Application
Icon=dash128
MimeType=x-scheme-handler/meraki;
Categories=Office;Finance;
